body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  margin: 50px 20px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid;
    user-select: none;
    -webkit-user-select: none;
}

.wall {
  animation: wallAnimation 0.3s;
  background-color: rgb(12, 53, 71);
  border-color: white;
}

.start {
  background-color: rgb(90, 123, 224);
  animation: startAnimation 0.5s ease-out;
}

.visited {
  background-color: rgb(204, 243, 97);
  animation-delay: 0ms;
  animation: startAnimation 0.5s ease-out;
}

.goal {
  background-color: red;
  animation: startAnimation 0.5s ease-out;
}

@keyframes startAnimation {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(12, 53, 71);
  }
}
